<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Flower Shop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Cart</display-name>
    <servlet-name>Cart</servlet-name>
    <servlet-class>shop.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerServlet</display-name>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>shop.servlet.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>shop.servlet.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCartProductDisplay</display-name>
    <servlet-name>UpdateCartProductDisplay</servlet-name>
    <servlet-class>shop.servlet.UpdateCartProductDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCartProductDisplay</servlet-name>
    <url-pattern>/updateCartProductDisplay.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartDispaly</display-name>
    <servlet-name>CartDispaly</servlet-name>
    <servlet-class>shop.servlet.CartDispaly</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartDispaly</servlet-name>
    <url-pattern>/CartDisplay.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verifyUserID</display-name>
    <servlet-name>verifyUserID</servlet-name>
    <servlet-class>shop.servlet.verifyUserID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verifyUserID</servlet-name>
    <url-pattern>/verifyUserID.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>shop.servlet.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>SendMail</display-name>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>shop.util.MailUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/SendMail.do</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>shop.servlet.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test.do</url-pattern>
  </servlet-mapping>
</web-app>