body {
	width: 950px;
	text-align: center;
	margin: 0 auto;
	font-family: arial;
	font-weight: normal;
	background: url(../images/pagebackground.jpg) repeat-x #f7f7f7 top
		center !important;
	margin-top: 0px;
}
#option_image {
	float:left;
	width:75px;
	padding-right:10px;
	height:130px;
	padding-top:5px;
	text-align:center
}
#option_delivery {
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px
}
#option {
	margin-left:20px;
	float:left;
	padding:10px;
	margin-top:0px;
	width:420px;
	font-size:12px;
}
#option_delivery_text {
	font-weight:bold;
}
#option_buy {
	vertical-align:middle;
}


table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
}

hr {
	border: 0;
	border-top: 1px solid #C5C5C5;
	height: 0;
	background: #C5C5C5;
}

#product a {
	color: #77c200;
}

#product {
	
}

.buy_button {
	background: #eeeeee;
	border: #e1e1e1 1px solid;
	color: #000 !important
}

#product img {
	
}

#product span {
	color: #333333;
}

.product_price {
	color: #000
}

.product_price_rrp {
	color: #999999 !important;
}
/* Product Page */
#description {
	
}

#product_panel {
	
}

#product_image {
	color: #666666;
}

#delivery_date {
	
}

#product_image h2 {
	
}

.product_price {
	color: #000
}

.product_price_rrp {
	color: #999999 !important;
}

#product_name {
	
}

#product_price {
	
}

#addons-upsell {
	border: #e1e1e1 0px solid;
	background: #fff;
}

.thumb {
	border: #e1e1e1 1px solid;
}

.buy_price {
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 24px;
	color: #222222;
	font-weight: normal;
	letter-spacing: -1px;
}

.save_price {
	font-size: 18px;
	color: #e00000;
	line-height: 170%;
	letter-spacing: -1px;
}

.orginial_price {
	color: #9e9e9e;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: -1px;
	line-height: 170%;
	text-decoration: line-through;
}

.price_sale {
	
}

.product_buy_button {
	background: #85c436;
	border: #75ab31 1px solid;
	color: #fff
}

#footerLink a {
	text-align: right;
	color: #333;
	text-decoration: none;
	font-size: 11px
}

#footerLink {
	position: relative;
	top: 10px;
	right: -35px
}

.tab-box {
	border-bottom: 1px solid #DDD;
	padding-bottom: 5px;
}

.tab-box a {
	border: 1px solid #DDD;
	color: #666666;
	padding: 5px 15px;
	text-decoration: none;
	background-color: #eee;
}

.tab-box a.activeLink {
	background-color: #fff;
	border-bottom: 0;
	padding: 6px 15px;
}

.tabcontent {
	border: 1px solid #ddd;
	border-top: 0;
	padding: 5px;
}

.hide {
	display: none;
}

.small {
	color: #999;
	margin-top: 100px;
	border: 1px solid #EEE;
	padding: 5px;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
